
<div class="container">
	<div class="top_container">
		<%=image_tag("smartify_logo.png")%>
		<div id="color_box_container">
			<div id ="color_box_left" class="color_box"></div>
			<div id ="color_box_middle" class="color_box"></div>
			<div id ="color_box_right" class="color_box"></div>
		</div>
	</div>
	<div id="left_container">
		<div id="traffic_sources_container" class="sub_container">
		<h3 style="margin: 0em 0 10px 0;">Traffic Sources</h3>
		  <div id="web_ad_traffic_source" class="traffic_source">
	    	<p>Web Ads</p>
			    <span class="traffic_source_input_container">
			    	<p class="traffic_source_label">Cost Per Click</p>
			    	<p class="dollar_sign">$</p>
			    	<input id="cpc_web_ad" type="number" value="5">
			    </span>
			    <span class="traffic_source_input_container">
	  				<p class="traffic_source_label">Total Visitors</p>
	  				<input id="total_visitors_web_ad" type="number" value="5000" >
	  			</span>
			    <span class="traffic_source_input_container">
			    	<p class="traffic_source_label">Cost</p>
			    	<p class="dollar_sign">$</p>
	  				<input id="visitors_web_ad" type="number" value="25000" >
	  			</span>
		  </div>
		  <div id="email_traffic_source" class="traffic_source">
	    <p>Emails</p>
	    		<span class="traffic_source_input_container click_through_percent_container">
			    	<p class="traffic_source_label">Click Through Rate</p>
			    	<input id="ctr_email" type="number" value="5">
			    </span>
			    <span class="traffic_source_input_container">
			    	<p class="traffic_source_label">Emails</p>
			    	<input id="emails" type="number" value="100000">
			    </span>
			    <span class="traffic_source_input_container">
			    	<p class="traffic_source_label">Total Visitors</p>
			    	<input id="total_visitors_emails" type="number" value="5000">
			    </span>
		  </div>
		  <div id="website_traffic_source" class="traffic_source">
	    <p>Website</p>
	    		<span class="traffic_source_input_container click_through_percent_container">
			    	<p class="traffic_source_label">Click Through Rate</p>
			    	<input id="ctr_website" type="number" value="5">
			    </span>
			 		<span class="traffic_source_input_container">
			    	<p class="traffic_source_label">Website Visitors</p>
			    	<input id="visitors_website" type="number" value="100000">
			    </span>
			    <span class="traffic_source_input_container">
			    	<p class="traffic_source_label">Total Visitors</p>
			    	<input id="total_visitors_website" type="number" value="5000">
			    </span>
		  </div>
		  <div id="facebook_ad_traffic_source" class="traffic_source">
	    <p>Facebook Ads</p>
			    <span class="traffic_source_input_container">
			    	<p class="traffic_source_label">Cost Per Click</p>
			    	<p class="dollar_sign">$</p>
			    	<input id="cpc_fb_ad" type="number" value="3">
			    </span>
			    <span class="traffic_source_input_container">
			    	<p class="traffic_source_label">Total Visitors</p>
			    	<input id="total_visitors_fb_ad" type="number" value="5000">
			    </span>
			    <span class="traffic_source_input_container">
			    	<p class="traffic_source_label">Cost</p>
			    	<p class="dollar_sign">$</p>
			    	<input id="visitors_fb_ad" type="number" value="15000">
			    </span>
		  </div>
	    <div id="total_cost_container">
		    <div>
			    <p>Total Cost:</p>
			    <p class="dollar_sign">$</p>
			    <input id="total_cost" type="number" value="40000">
		    </div>
		  </div>
		</div>
		<div id="conversion_container" class="sub_container">
		<h3>Conversion</h3>
		  <div id="visitors_container" class="conversion_sub_container">
		    <p>Total Visitors:</p>
		    <input id="total_visitors" type="number" value="20000">
		  </div>
		  <div id="participants_container" class="conversion_sub_container">
		    <p>Participants:</p>
		    <input id="total_participants" type="number" value="7000">
		  </div>
		  <div id="conversion_rate_container" class="conversion_sub_container">
		    <p>Conversion Rate:</p> 
		    <div id="conversion_rate_percentage_container">
		    	<input id="conversion_rate" type="number" value="35.00">
		    </div>
		  </div>
		</div>
		<div id="viral_conversion_main_container" class="sub_container">
			<h3>Viral Conversion Rate (VCR)</h3>
				<div id="viral_container_top">
				  <span id="viral_conversion_container" class="viral_conversion_sub_container">
				    <p class="viral_conversion_label">Viral Conversion Rate</p>
				    <input id="viral_conversion_rate" class="viral_conversion_input" type="number" value="5.0">
				  </span>
				  <span id="visitors_container" class="viral_conversion_sub_container">
				    <p class="viral_conversion_label">Viral Visitors</p>
				    <input id="viral_visitors" class="viral_conversion_input" type="number" value="2450">
				  </span>
				  <span id="participants_container" class="viral_conversion_sub_container">
				    <p class="viral_conversion_label">Viral Participants</p> 
				    <input id="viral_participants" class="viral_conversion_input" type="number" value="122.50">
				  </span>
			  </div>
			  <div id="viral_container_bottom">
				  <span id="after_vcr_visitors_container" class="viral_conversion_sub_container">
				    <p class="viral_conversion_label">Total Visitors After VCR</p> 
				    <input id="after_vcr_visitors" class="viral_conversion_input" type="number" value="22450">
				  </span>
				  <span id="after_vcr_participants_container" class="viral_conversion_sub_container">
				    <p class="viral_conversion_label">Total Participants After VCR</p> 
				    <input id="after_vcr_participants" class="viral_conversion_input" type="number" value="7122">
				  </span>
			  </div>
		</div>
	</div>
	<div id="right_container">
	  <div id="actions_container" class="sub_container">
	    <h3>Actions</h3>
			<div id="action_select_main">
				<div id="action_select_container_left" class="action_select_container">
				  <div id="click_through_defined">Click Through</div>
				  <div id="comment_defined">Comment</div>
				  <div id="facebook_tell_defined">Facebook Tell</div>
				  <div id="hashtag_defined">Hashtag</div>
				  <div id="instagram_follow_defined">Instagram Follow</div>
				  <div id="facebook_like_defined">Facebook Likes</div>
			  	<div id="mailing_list_defined">Mailing List</div>
				</div>
			  <div id="action_select_container_right" class="action_select_container">
			  	<div id="pinterest_follow_defined">Pinterest Follow</div>
			  	<div id="puzzle_piece_defined">Puzzle Piece</div>
			  	<div id="poll_survey_defined">Poll Survey</div>
				  <div id="tumblr_follow_defined">Tumblr Follow</div>
				  <div id="twitter_follow_defined">Twitter Follow</div>
				  <div id="twitter_share_defined">Twitter Share</div>
				  <div id="watch_video_defined">Watch Video</div>
				</div>
			</div>
			<div id="selection_container">
				<div id="select_container">
			    <select id="actions_drop_down">
					  <option value="click_through">Click Through</option>
					  <option value="comment">Comment</option>
					  <option value="facebook_tell">Facebook Tell</option>
					  <option value="hashtag">Hashtag</option>
					  <option value="instagram_follow">Instagram Follow</option>
					  <option value="facebook_like">Facebook Like</option>
					  <option value="mailing_list">Mailing List</option>
					  <option value="pinterest_follow">Pinterest Follow</option>
					  <option value="puzzle_piece">Puzzle Piece</option>
					  <option value="poll_survey">Poll Survey</option>
					  <option value="tumblr_follow">Tumblr Follow</option>
					  <option value="twitter_follow">Twitter Follow</option>
					  <option value="twitter_share">Twitter Share</option>
					  <option value="watch_video">Watch Video</option>
					</select>
				</div>
				<button id="add_action" type="button">Add</button>
			</div>
		</div>
	 	<div id="roi_per_action_container" class="sub_container">
	 			<h3 style="margin: 0em 0 10px 0;">Calculator</h3>

	 			<div style="display: inline-block;" id="calculator_heading">
		 			<p>Action</p>
		 			<p>Participation Rate Per Action</p>
		 			<p>Participants Per Action</p>
		 			<p>Value</p>
		 			<p>Total</p>
	 			</div>
			  <div id="click_through_calculated">
				  <p class="calculation_header">Click Through</p>
				  <input class="average_engagement_percentage" type="number" value="12.6">
				  |
				  <input class="participants_per_action" type="number"  value="897.37">
				  x
				  <input class="value_per_action" type="number"  value="5.00">
				  =
				  <input class="total_value_per_action" type="number"  value="630000">
			  </div>

			  <div id="comment_calculated">
				  <p class="calculation_header">Comment</p>
				  <input class="average_engagement_percentage" type="number" value="35.52">
				  |
				  <input class="participants_per_action" type="number"   value="2529.73">
				  x
				  <input class="value_per_action" type="number"  value="5.00">
				  =
				  <input class="total_value_per_action" type="number"  value="50000">
			  </div>

			  <div id="facebook_tell_calculated">
				  <p class="calculation_header">Facebook Tell</p>
				  <input class="average_engagement_percentage" type="number" value="21.36">
				  |
				  <input class="participants_per_action" type="number"   value="1521.26">
				  x
				  <input class="value_per_action" type="number"  value="5.00">
				  =
				  <input class="total_value_per_action" type="number"  value="50000">
			  </div>

			  <div id="hashtag_calculated">
				  <p class="calculation_header">Hashtag</p>
				  <input class="average_engagement_percentage" type="number" value="7.68">
				  |
				  <input class="participants_per_action" type="number"   value="546.97">
				  x
				  <input class="value_per_action" type="number"  value="5.00">
				  =
				  <input class="total_value_per_action" type="number"  value="50000">
			  </div>

			  <div id="instagram_follow_calculated">
				  <p class="calculation_header">Instagram Follow</p>
				  <input class="average_engagement_percentage" type="number" value="7.20">
				  |
				  <input class="participants_per_action" type="number"  value="512.78">
				  x
				  <input class="value_per_action" type="number"  value="12.00">
				  =
				  <input class="total_value_per_action" type="number"  value="360000">
			  </div>

			  <div id="facebook_like_calculated">
				  <p class="calculation_header">Facebook Likes</p>
				  <input class="average_engagement_percentage" type="number" value="65.16">
				  |
				  <input class="participants_per_action" type="number"  value="4640.70">
				  x
				  <input class="value_per_action" type="number"  value="7.00">
				  =
				  <input class="total_value_per_action" type="number"  value="50000">
			  </div>

	      <div id="mailing_list_calculated">
		      <p class="calculation_header">Mailing List</p>
		      <input class="average_engagement_percentage" type="number" value="74.8">
		      |
		      <input class="participants_per_action" type="number"  value="5327.26">
		      x
		      <input class="value_per_action" type="number"  value="5.00">
		      =
		      <input class="total_value_per_action" type="number"  value="50000">
	      </div>

			  <div id="pinterest_follow_calculated">
				  <p class="calculation_header">Pinterest Follow</p>
				  <input class="average_engagement_percentage" type="number" value="24.36">
				  |
				  <input class="participants_per_action" type="number"   value="1734.92">
				  x
				  <input class="value_per_action" type="number"  value="5.00">
				  =
				  <input class="total_value_per_action" type="number"  value="50000">
			  </div>

			  <div id="puzzle_piece_calculated">
				  <p class="calculation_header">Puzzle Piece</p>
				  <input class="average_engagement_percentage" type="number" value="67.32">
				  |
				  <input class="participants_per_action" type="number"   value="4794.53">
				  x
				  <input class="value_per_action" type="number"  value="5.00">
				  =
				  <input class="total_value_per_action" type="number"  value="50000">
			  </div>

			  <div id="poll_survey_calculated">
				  <p class="calculation_header">Poll Survey</p>
				  <input class="average_engagement_percentage" type="number" value="69.36">
				  |
				  <input class="participants_per_action" type="number"  value="4939.82">
				  x
				  <input class="value_per_action" type="number"  value="5.00">
				  =
				  <input class="total_value_per_action" type="number"  value="50000">
			  </div>

			  <div id="tumblr_follow_calculated">
				  <p class="calculation_header">Tumblr Follow</p>
				  <input class="average_engagement_percentage" type="number" value="2.52">
				  |
				  <input class="participants_per_action" type="number"   value="179.47">
				  x
				  <input class="value_per_action" type="number"  value="5.00">
				  =
				  <input class="total_value_per_action" type="number"  value="50000">
			  </div>

			  <div id="twitter_follow_calculated">
				  <p class="calculation_header">Twitter Follow</p>
				  <input class="average_engagement_percentage" type="number" value="15.83">
				  |
				  <input class="participants_per_action" type="number"   value="1127.41">
				  x
				  <input class="value_per_action" type="number"  value="2.00">
				  =
				  <input class="total_value_per_action" type="number"  value="50000">
			  </div>

			  <div id="twitter_share_calculated">
				  <p class="calculation_header">Twitter Share</p>
				  <input class="average_engagement_percentage" type="number" value="7.31">
				  |
				  <input class="participants_per_action" type="number"   value="520.62">
				  x
				  <input class="value_per_action" type="number"  value="7.00">
				  =
				  <input class="total_value_per_action" type="number"  value="50000">
			  </div>

			  <div id="watch_video_calculated">
				  <p class="calculation_header">Watch Video</p>
				  <input class="average_engagement_percentage" type="number" value="25.32">
				  |
				  <input class="participants_per_action" type="number"   value="1803.29">
				  x
				  <input class="value_per_action" type="number"  value="5.00">
				  =
				  <input class="total_value_per_action" type="number"  value="50000">
			  </div>

			  <div style="display: inline-block;" id="total_value_container">
			  	<p>Total Value</p><input type="number" id="total_roi" value="200000">
			  </div>
		</div>
  </div>
</div>
