// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

body, select {
	font-family: 'open sans',arial,sans-serif;
	font-weight: lighter;
	color: #ffffff;
}

h3 {
	font-weight: lighter;
	margin-bottom: 0px;
}

input {
	color: #8c969c;
	font-size: 14px;
	border: none;
	border-radius: 6px;
}

.container {
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
	height: 830px;
	background-color: #8cd291;
}

.sub_container {
	color: #ffffff;
}

#left_container {
	width: 45%;
	float: left;
	background-color: #8cd291;
	height: 750px;
	padding-left: 1em;
	margin-top: 5em;
}

#right_container {
	width: 51%;
	float: right;
	background-color: #47b850;
	height: 100%;
}

/* Traffic Sources Section */

.traffic_source_input_container {
	display: inline-block;
	width: 136px;
	background: white;
	border-radius: 6px;
	color: #8c969c;
	margin: 10px 0px 0px 0px;

	p {
		margin: 0;
		display: inline-block;
		text-align: left;
	}
}

.traffic_source_label {
	font-size: 9px;
	padding: 0;
	min-width: 54px;
}

.container #traffic_sources_container {
	border: none;
	text-align: left;
	color: #ffffff;
	width: 100%;

	.traffic_source {
		width: 130px;
		display: inline-block;

 		input {
			padding: 5px 0px 5px 0px;
			width: 37px;
		}
	}
}

#total_cost_container {
	background-color: #47b850;
	height: 51px;
	margin-top: 9px;
	border-radius: 6px;	
}

#total_cost_container div {
	display: inline-block;
	margin-left: 12em;
}

#total_cost_container p {
	display: inline-block;
}

#total_cost_container input {
	background: none;
	color: #ffffff;
	display: inline-block;
}

/* End Traffic Sources Section */

/* Conversion Section */

.conversion_sub_container {
	width: 170px;
	display: inline-block;
	margin: 0px 8px 0px 0px;
}

.conversion_sub_container input {
	padding: 9px;
	width: 150px;
	font-size: 27px;
	text-align: center;
}

/* End Conversion Section */

/* Select Tag Section */

#selection_container {
	width: 245px;
	display: inline-block;
}

#select_container {
	 width: 170px;
   height: 34px;
   overflow: hidden;
   border: 1px solid #ffffff;
   border-radius: 24px;
   min-width: 140px;
   background: url('arrow.png') no-repeat right;
   display: inline-block;
   padding-left: 10px;
}

#select_container #actions_drop_down {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   color: #fffff;
}

#add_action {
	display: inline-block;
	background: white;
	border: solid 1px white;
	border-radius: 9px;
	font-size: 20px;
	position: relative;
	bottom: 11px;
	color: #40B549;
	left: 3px;
}


/* End Select Tag Section */

/* Calculator Section */

#roi_per_action_container {
	margin-top: 5em;
	padding: 1em;
}

#roi_per_action_container div#calculator_heading {
	display: inline-block;
	margin: 0px;
}

#calculator_heading p {
	display: inline-block;
	width: 70px;
	font-size: 12px;
}

#calculator_heading p:first-child {
	margin-left: 2.5em;
}

#calculator_heading p:nth-child(2) {
	margin-left: 3.5em;
}

#calculator_heading p:nth-child(3) {
	margin-left: 2em;
}

#calculator_heading p:nth-child(4) {
	margin-left: 3.8em;
}

#calculator_heading p:nth-child(5) {
	margin-left: 1.5em;
}

#roi_per_action_container input {
	background: none;
	color: #ffffff;
	font-size: 13px;
}

#roi_per_action_container div {
	display: none;
	margin-bottom: 1em;
}

p.calculation_header {
	margin: 0px;
	display: inline-block;
	min-width: 130px;
}

#roi_per_action_container input.average_engagement_percentage {
	margin-left: 1em;
	width: 57px;
}

#roi_per_action_container input.participants_per_action {
	width: 90px;
	margin-left: 23px;
}

#roi_per_action_container input.value_per_action {
	width: 30px;
	margin-left: 23px;
}

#roi_per_action_container input.total_value_per_action {
	width: 80px;
	margin-left: 23px;
}

#total_value_container input, #total_value_container p {
	display: inline-block;
}

#total_value_container {
	background: white;
	color: #40B549;
	width: 89%;
	border-radius: 6px;
	padding-left: 1em;
	font-size: 29px;
}

#total_value_container input {
	font-size: 29px;
	color: #40B549;
	margin-left: 1em;
	width: 300px;
}

/* End Calculator Section */

.action_select_container {
	width: 150px;
	min-height: 40px;
	display: inline-block;
	color: #ffffff;
}

#action_select_main {
	width: 310px;
	display: inline-block;
}

.action_select_container div{
	display: none;
}

div#click_through_defined, div#facebook_like_defined, div#instagram_follow_defined, div#poll_survey_defined, div#twitter_share_defined, div#watch_video_defined {
	display: block;
} 

div#click_through_calculated, div#facebook_like_calculated, div#instagram_follow_calculated, div#poll_survey_calculated, div#twitter_share_calculated, div#watch_video_calculated {
	display: block;
} 

#total_roi {
	width: 100px;
}
