// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

body {
	font-family: 'open sans',arial,sans-serif;
	font-weight: lighter;
	color: #ffffff;
}

h3 {
	font-weight: lighter;
	margin-bottom: 0px;
}

input {
	color: #8c969c;
	font-size: 17px;
	border: none;
	border-radius: 6px;
}

.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	height: 680px;
	margin-top: 4em;
	margin-bottom: 4em;
	background-color: #8cd291;
}

.sub_container {
	color: #ffffff;
}

#left_container {
	width: 49%;
	float: left;
	background-color: #8cd291;
	height: 100%;
	padding-left: 5em;
}

.dollar_sign {
	position: relative;
	left: 20px;
}

#right_container {
	width: 39%;
	float: right;
	background-color: #47b850;
	height: 100%;
}

/* Traffic Sources Section */

.container #traffic_sources_container {
	border: none;
	text-align: left;
	color: #ffffff;
	width: 532px;
}

.container #traffic_sources_container .traffic_source {
	width: 130px;
	text-align: center;
	display: inline-block;
}

.container #traffic_sources_container .traffic_source input {
	
	padding: 5px;
	width: 106px;
}

#total_cost_container {
	background-color: #47b850;
	height: 51px;
	margin-top: 9px;
	border-radius: 6px;	
}

#total_cost_container div {
	display: inline-block;
	margin-left: 12em;
}

#total_cost_container p {
	display: inline-block;
}

#total_cost_container input {
	background: none;
	color: #ffffff;
	display: inline-block;
}

/* End Traffic Sources Section */

/* Conversion Section */

.conversion_sub_container {
	width: 170px;
	display: inline-block;
	margin: 0px 8px 0px 0px;
}

.conversion_sub_container input {
	padding: 9px;
	width: 150px;
	font-size: 27px;
	text-align: center;
}

/* End Conversion Section */

#roi_per_action_container {
	width: 450px;
}

#roi_per_action_container div {
	display: none;
	width: 400px;
}

#roi_per_action_container {
	text-align: center;
}

.action_select_container {
	width: 160px;
	min-height: 40px;
	display: inline-block;
	color: #ffffff;
}

#action_select_main {
	width: 330px;
	display: inline-block;
}

#select_container {
	width: 230px;
	display: inline-block;
}

.action_select_container div{
	display: none;
}

div#click_through_defined, div#facebook_like_defined, div#instagram_follow_defined, div#poll_survey_defined, div#twitter_share_defined, div#watch_video_defined {
	display: block;
} 

div#click_through_calculated, div#facebook_like_calculated, div#instagram_follow_calculated, div#poll_survey_calculated, div#twitter_share_calculated, div#watch_video_calculated {
	display: block;
} 

#actions_container input, #roi_per_action_container input {
	width: 50px;
} 

#total_roi {
	width: 100px;
}
