// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	height: 680px;
	margin-top: 4em;
	margin-bottom: 4em;
	background-color: #8cd291;
}

#left_container {
	width: 60%;
	float: left;
	background-color: #8cd291;
	height: 100%;
}

#right_container {
	width: 39%;
	float: right;
	background-color: #47b850;
	height: 100%;
}

.container #traffic_sources_container {
	border: none;
	text-align: left;
}


.container #traffic_sources_container .traffic_source {
	width: 130px;
	text-align: center;
	display: inline-block;
}

.conversion_sub_container {
	padding: 1em;
	width: 150px;
	display: inline-block;
}

#roi_per_action_container {
	width: 450px;
}

#roi_per_action_container div {
	display: none;
	width: 400px;
}

#roi_per_action_container, #middle_container {
	text-align: center;
}

.action_select_container {
	width: 160px;
	min-height: 40px;
	display: inline-block;
}

#action_select_main {
	width: 330px;
	display: inline-block;
}

#select_container {
	width: 230px;
	display: inline-block;
}

.action_select_container div{
	display: none;
}

div#click_through_defined, div#facebook_like_defined, div#instagram_follow_defined, div#poll_survey_defined, div#twitter_share_defined, div#watch_video_defined {
	display: block;
} 

div#click_through_calculated, div#facebook_like_calculated, div#instagram_follow_calculated, div#poll_survey_calculated, div#twitter_share_calculated, div#watch_video_calculated {
	display: block;
} 

#actions_container input, #roi_per_action_container input {
	width: 50px;
} 

#total_roi {
	width: 100px;
}
